web/WEB-INF/wsdl/localhost_44351/sapito.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Calificacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calificaciones" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalificacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalificacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalificacionSoapIn">
    <wsdl:part name="parameters" element="tns:Calificacion" />
  </wsdl:message>
  <wsdl:message name="CalificacionSoapOut">
    <wsdl:part name="parameters" element="tns:CalificacionResponse" />
  </wsdl:message>
  <wsdl:portType name="sapitoSoap">
    <wsdl:operation name="Calificacion">
      <wsdl:input message="tns:CalificacionSoapIn" />
      <wsdl:output message="tns:CalificacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sapitoSoap" type="tns:sapitoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calificacion">
      <soap:operation soapAction="http://tempuri.org/Calificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sapitoSoap12" type="tns:sapitoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calificacion">
      <soap12:operation soapAction="http://tempuri.org/Calificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sapito">
    <wsdl:port name="sapitoSoap" binding="tns:sapitoSoap">
      <soap:address location="https://localhost:44351/sapito.asmx" />
    </wsdl:port>
    <wsdl:port name="sapitoSoap12" binding="tns:sapitoSoap12">
      <soap12:address location="https://localhost:44351/sapito.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>